@using System.Data
@using Pointeuse.Models;
@model DataTable


@{
    var ListePresences = ViewData["Presences"] as List<Presence>;
}
<input type="text" id="searchBar" placeholder="Rechercher par nom ou prénom...">
<button id="searchButton">Rechercher</button>

<table class="table">
    <!-- Entête du tableau -->
    <thead>
        <tr>
            <th>@Html.DisplayName("Nom")</th>
            <th>@Html.DisplayName("Prenom")</th>
            <th>@Html.DisplayName("EMail")</th>
            <th>@Html.DisplayName("Phone")</th>
            <th>@Html.DisplayName("date emergement")</th>
            <th>@Html.DisplayName("Statut")</th>
        </tr>
    </thead>
    <tbody>
        <!-- Boucle sur les données -->
        @foreach (Presence row in ListePresences)
        {
            <tr>
                <td>@row.Eleve.Nom</td>
                <td>@row.Eleve.Prenom</td>
                <td>@row.Eleve.EMail</td>
                <td>@row.Eleve.Phone</td>
                <td>@row.HeurePresence</td>
                <td>
                    <div style="@(row.Statut == "Present" ? "background-color: green;" :
                                row.Statut == "Absent" ? "background-color: red;" :
                                row.Statut == "Retard" ? "background-color: yellow;" : "")">
                        @row.Statut
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#searchButton').on('click', function () {
            performSearch();
        });

        $('#searchBar').on('keyup', function (event) {
            if (event.keyCode === 13) {
                performSearch();
            }
        });

        function performSearch() {
            var value = $('#searchBar').val().toLowerCase();
            $('tbody tr').filter(function () {
                var name = $(this).find('td:nth-child(1)').text().toLowerCase();
                var firstName = $(this).find('td:nth-child(2)').text().toLowerCase();
                return (name.indexOf(value) > -1 || firstName.indexOf(value) > -1);
            }).toggle(true);
            $('tbody tr').not(':visible').toggle(false);
        }
    });
</script>


