
@using System.Data
@using Pointeuse.Models;
@model DataTable



@{
    var ListeEleve = ViewData["Eleve"] as List<Eleve>;
    var ListePromotions = ViewData["Promotion"] as List<Promotion>;
    var ListeGroupes = ViewData["Groupe"] as List<Groupe>;
    
}

<div class="text-center">
    <h1> Tous les Etudiants </h1>
</div>


<div class="container">
    <input type="text" id="searchBar" placeholder="Rechercher par nom ou prénom...">
    <button id="searchButton">Rechercher</button>

    <table class="table">
        <!-- Entête du tableau -->
        <thead>
            <tr>
                <th>@Html.DisplayName("Nom")</th>
                <th>@Html.DisplayName("Prénom")</th>
                <th>@Html.DisplayName("E-Mail")</th>
                <th>@Html.DisplayName("Téléphone")</th>
                <th>@Html.DisplayName("Groupe")</th>
                <th>@Html.DisplayName("Formation")</th>
                <th>@Html.DisplayName("Niveau")</th>
                <th>@Html.DisplayName("Promotion")</th>
                <th>@Html.DisplayName("Année")</th>
              

            </tr>
        </thead>
        <tbody>
            <!-- Boucle sur les données -->
            @foreach (Eleve row in ListeEleve)
            {
                @foreach (Groupe gr in ListeGroupes)
                {
                    @foreach (Promotion pr in ListePromotions)
                    {
                        @*@foreach (Presence pre in ListePresences)
                        {*@
                            @* @foreach (Journee jou in ListeJournees)
            {*@
                            if (row.IdGroupe == gr.Id && row.IdPromotion == pr.Id@* && pre.IdEleve == row.Id && pr.Id == 2 && (gr.Id == 3 || gr.Id == 7)*@)
                            {
                                <tr>
                                    <td>@row.Nom</td>
                                    <td>@row.Prenom</td>
                                    <td>@row.EMail</td>
                                    <td>@row.Phone</td>
                                    <td>@gr.Nom</td>
                                    <td>@gr.Formation</td>
                                    <td>@pr.Niveau</td>
                                    <td>@pr.Nom</td>
                                    <td>@pr.Annee</td>
                                    @*<td>@pre.HeurePresence</td>*@
                                   @* <td>
                                        <div style="@(pre.Statut == "Présent" ? "background-color: green;" :
            pre.Statut == "Absent" ? "background-color: red;" :
            pre.Statut == "Retard" ? "background-color: yellow;" : "")">
                                            @pre.Statut
                                        </div>
                                    </td>*@

                                    @*<td>@jou.DateMatin</td>*@
                                </tr>
                            }
                            @*}*@
                        
                    }
                }
            }
        </tbody>
    </table>
</div>

@* <td>
            <div style="@(row.Statut == "present" ? "background-color: green;" :
            row.Statut == "absent" ? "background-color: red;" :
            row.Statut == "retard" ? "background-color: yellow;" : "")">
            @row.Statut
            </div>
            </td>*@
<script>
    var searchBar = document.getElementById("searchBar");
    var searchButton = document.getElementById("searchButton");

    searchButton.addEventListener("click", function () {
        var searchValue = searchBar.value.toLowerCase();
        var rows = document.querySelectorAll("tbody tr");

        rows.forEach(function (row) {
            var nom = row.cells[0].innerText.toLowerCase();
            var prenom = row.cells[1].innerText.toLowerCase();
            var groupe = row.cells[4].innerText.toLowerCase();


            if (nom.includes(searchValue) || prenom.includes(searchValue) || groupe.includes(searchValue)) {
                row.style.display = "table-row";
            } else {
                row.style.display = "none";
            }
        });
    });
</script>
